@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("thirdparty/fonts/inter-regular.woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("thirdparty/fonts/inter-italic.woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("thirdparty/fonts/inter-bold.woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("thirdparty/fonts/inter-bold-italic.woff2");
}

:root {
  --background-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 25%);
  --green: hsl(130, 45%, 30%);
  --red: hsl(5, 50%, 35%);
  --gray: hsl(0, 0%, 50%);
  --link-color: hsl(210, 100%, 45%);
  --link-color-visited: hsl(255, 65%, 54%);
  --link-underline-color: hsla(210, 90%, 50%, 0.3);
  --link-underline-color-visited: hsla(255, 60%, 54%, 0.3);
  --new-color: hsl(15, 90%, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #262626;
    --text-color: hsl(0, 0%, 80%);
    --green: hsl(130, 40%, 50%);
    --red: hsl(5, 50%, 55%);
    --gray: hsl(0, 0%, 55%);
    --link-color: hsl(200, 50%, 60%);
    --link-color-visited: hsl(258, 82%, 76%);
    --link-underline-color: hsla(200, 50%, 60%, 0.3);
    --link-underline-color-visited: hsla(258, 82%, 76%, 0.3);
    --new-color: hsl(15, 70%, 60%);
  }
}

*:focus {
  /* More visible outline for better keyboard navigation. */
  outline: 0.125rem solid hsl(220, 100%, 62.5%);
  /* Make the outline always appear above other elements. */
  /* Otherwise, one of its sides can be hidden by tabs in the Download and More layouts. */
  position: relative;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  max-width: 1200px;
  margin: 0 auto 2rem;
  padding: 0 0.5rem;
  /* Use a modern font stack as a fallback if the web font can't be loaded. */
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Match the Godot 4.6+ editor default. */
  font-feature-settings: "calt" 0, "ss04" 1, "tnum" 1;
  line-height: 1.618;
}

thead {
  font-weight: bold;
}

tr:hover {
  background-color: hsla(0, 0%, 50%, 0.075);
}

tr:nth-child(even) {
  background-color: hsla(0, 0%, 50%, 0.1);
}

tr:nth-child(even):hover {
  background-color: hsla(0, 0%, 50%, 0.175);
}

/* Make proposal titles always take up as much width as they can. */
td:nth-child(1) {
  width: 100%;
}

a {
  color: var(--link-color);
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: 0.125rem;
}

a:hover {
  filter: brightness(117.5%);
}

a:active {
  filter: brightness(82.5%);
}

a:visited {
  color: var(--link-color-visited);
  text-decoration-color: var(--link-underline-color-visited);
  text-decoration-thickness: 0.125rem;
}

a:visited:hover {
  filter: brightness(117.5%);
}

a:visited:active {
  filter: brightness(82.5%);
}

code {
  background-color: hsla(0, 0%, 60%, 0.2);
  padding: 0.125rem;
}

.open-proposals {
  margin-left: 1rem;
}

span.upvotes-count {
  color: var(--green);
  font-weight: 400;
  display: inline-block;
  min-width: 3.5em;
  text-align: right;
}

span.downvotes-count {
  color: var(--red);
  font-weight: 400;
  margin-left: 0.25rem;
  display: inline-block;
  min-width: 2em;
  text-align: right;
}

span.comments-count {
  font-weight: 400;
  display: inline-block;
  min-width: 5em;
  text-align: right;
}

@media only screen and (max-width: 650px) {
  td {
    display: inline-block;
  }

  .headers {
    display: none;
  }

  .score-cell {
    padding-left: 4.0625rem;
  }

  .open-proposals {
    display: block;
    margin-left: 0;
  }
}
